setuptools
flask
python-dotenv
flask-cors
gunicorn
uuid_v7
# ORM dependencies
azure-storage-blob
redis
kafka-python
psycopg2-yugabytedb
Flask-SQLAlchemy
# For paper scraping
paperscraper
nltk
pymupdf==1.25.2
pymupdf4llm
# Added RAG dependencies
openai
langchain
langchain-core
langchain-community
langchain-text-splitters
#langchain-milvus
langchain-deepseek
langchain-openai
#langchain-azure-ai
langchain-ollama
langchain-postgres
# Websearch dependencies
duckduckgo-search
tavily-python
langgraph