setuptools
flask
python-dotenv
flask-cors
gunicorn
redis
paperscraper
nltk
openai
pymupdf==1.25.2
pymupdf4llm
kafka-python
# Added RAG dependencies
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-milvus
langchain-deepseek
langchain-openai
langchain-azure-ai
langchain-ollama
# Websearch dependencies
duckduckgo-search
tavily-python
langgraph